@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.hero-bottom-wave {
  mask-image: url('https://res.cloudinary.com/snyk/image/upload/snyk-mktg-brandui/backgrounds/wave-mask-hero.svg');
  mask-position: bottom center;
  mask-size: cover;
  mask-repeat: no-repeat;
}

.transition-custom {
  @apply transition-all duration-300 ease-in-out;
}

.glass-morphism{
  @apply isolate  rounded-xl bg-white/20 shadow-lg ring-1 ring-black/5
}