@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Nunito:wght@800&display=swap');

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero-bottom-wave {
  mask-image: url("https://res.cloudinary.com/snyk/image/upload/snyk-mktg-brandui/backgrounds/wave-mask-hero.svg");
  mask-position: bottom center;
  mask-size: cover;
  mask-repeat: no-repeat;
}

.transition-custom {
  @apply transition-all duration-300 ease-in-out;
}

.glass-morphism {
  @apply isolate  rounded-xl bg-white/20 shadow-lg ring-1 ring-black/5;
}

.blue-gradient {
  background: rgb(0,142,255);
  background: linear-gradient(47deg, rgba(0,142,255,1) 0%, rgba(13,3,148,1) 0%, rgba(14,4,129,1) 50%, rgba(16,10,40,1) 100%);
}

.blue-text-gradient {
  background: linear-gradient(47deg, rgba(0,142,255,1) 0%, rgba(13,3,148,1) 0%, rgba(14,4,129,1) 50%, rgba(16,10,40,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.light-blue-text-gradient {
  background: linear-gradient(180deg, rgb(163, 215, 255) 0%, rgb(241, 240, 255) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.breathing {
  animation: breathing 3s infinite;
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


/* Footer CSS */
.footer-dog{
  width: calc(8.3333333333%* 12);
}



/* text animation with bounce effect on hover  */

/* Define the bounce animation */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Define the ripple animation */
@keyframes ripple {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}

/* Base style for each character */
.service-name .char {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

/* Apply the bounce animation to the hovered character */
.service-name .char:hover {
  animation: bounce 1s ease;
  scale: 1.12;
}

/* Apply the ripple effect to adjacent characters */
.service-name .char:hover ~ .char,
.service-name .char:hover + .char ~ .char {
  animation: ripple 1s ease;
}

/* Apply the ripple effect to previous characters */
.service-name .char:hover {
  animation: bounce 1s ease;
}
.service-name .char:hover ~ .char,
.service-name .char:hover + .char ~ .char {
  animation: ripple 1s ease;
}
.service-name .char:hover ~ .char + .char,
.service-name .char:hover ~ .char + .char ~ .char {
  animation: ripple 1s ease;
}
.service-name .char:hover ~ .char + .char ~ .char + .char,
.service-name .char:hover ~ .char + .char ~ .char + .char ~ .char {
  animation: ripple 1s ease;
}

.navbar-morphism{
  background: hsla(0, 0%, 100%, .7);
  backdrop-filter: blur( 1.25rem );
  -webkit-backdrop-filter: blur( 100px );
}
