@keyframes slide-left{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }

}
@keyframes slide-right{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }

}

.slide-animation-left{
    white-space: nowrap;
    animation: 20s slide-left infinite linear;
}
.slide-animation-right{
    white-space: nowrap;
    animation: 20s slide-right infinite linear;
}